# Do not track object files or executables
sop_solver
sop_trace
*.o

*.log
*.callgrind

# for binary files used to store traces
*.bin

# for yaml files produced by trace analysis representing the difference tree when comparing two traces
*.trace.yaml

# for temporary config file, change parameters for individual runs without being tracked on git
temp_config.txt